.skupka {
    .online {
        margin-bottom: calc(40px + (100 - 40) * (100vw - 375px) / (1200 - 375));
    }

    .online__wrap {
        display: flex;
        justify-content: space-between;
        @media (max-width: 769px) {
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
        }
    }
    .contacts__content {
        flex: 0 0 48%;
    }
    .contacts__title {
        font-size: 35px;
        font-weight: 500;
        color: rgba(22, 29, 37, 1);
    }
    .contacts__subtitle {
        margin-bottom: 30px;
        max-width: 560px;
        color: rgba(69, 79, 91, 1);
        font-size: calc(18px + (22 - 18) * (100vw - 375px) / (1200 - 375));
        font-weight: 400;
    }
    .online__social {
        display: flex;
        .online__telegram {
            margin-right: 10px;
        }
    }
    .contacts__form {
        flex: 0 0 48%;
        border-left: 1px solid rgba(229, 229, 229, 1);
        padding-left: 40px;
        @media (max-width: 769px) {
            border-left: none;
            padding-left: 0px;
        }
        .b24-form-header-title {
            color: black;
            text-align: left;
        }
        .b24-form-header-description {
            text-align: left;
            color: rgba(90, 113, 132, 1);
        }

        .b24-form-header {
            border: none;
        }
        .b24-form-btn {
            max-width: 265px;
            @media (max-width: 769px) {
                max-width: 100%;
            }
        }
        .b24-form-sign {
            display: none;
        }
    }

    // @media (min-width: 700px) {
    //     .online__sap {
    //         display: none;
    //     }
    // }
}
