.skupka {
    .slider {
        height: 100vh;
        margin-bottom: 65px;
    }
    .swiper-slide {
        position: relative;
    }
    .swipe__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 760px;
        color: #ffffff;
        height: 100vh;
    }
    .swipe__content__title {
        position: relative;
        z-index: 9;
        margin-bottom: 15px;
        font-size: calc(26px + (30 - 26) * (100vw - 375px) / (1200 - 375));
        font-weight: 500;
    }
    .swipe__content__subtitle {
        z-index: 9;
        position: relative;
        font-size: calc(16px + (18 - 16) * (100vw - 375px) / (1200 - 375));
        margin-bottom: 15px;
    }
    .swipe__content__btn {
        position: relative;
        z-index: 9;
        display: flex;
        a {
            justify-content: center;
            align-items: center;
            font-size: 16px;
            color: #ffffff;
            background-color: rgba(88, 183, 65, 1);
            padding: 15px 22px;
            font-weight: 500;
            border-radius: 4px;
            transition: all 0.3s ease 0ms;
            &:hover {
                background-color: #398025;
            }
        }
    }
    .swipe__content__img {
        position: absolute;
        left: 0;
        top: 0;
        object-position: right;
        img {
            height: 100vh;
        }
    }
    .slider {
        .swiper-pagination {
            top: -60px;
            position: relative;
        }
        .swiper-pagination-bullet {
            background-color: #ffffff;
            width: 30px;
            height: 1px;
            border-radius: 0px;
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            height: 3px;
        }
    }
}
