.not-found {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 104px;
    padding-bottom: 100px;
    max-width: 1001px;
    &__pic {
        margin-bottom: 15px;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__text {
        margin-bottom: 24px;
    }

    &__link {
    }

    &__back {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

@media screen and (max-width: 1200px) {
    .not-found {
        max-width: 808px;
    }
}

@media screen and (max-width: 960px) {
    .not-found {
        max-width: 601px;
    }
}

@media screen and (max-width: 640px) {
    .not-found {
        max-width: 461px;
    }
}
