.blog {
    padding-bottom: 64px;
}

.blog__title {
    margin-bottom: 24px;
}

.post-catalog {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

@media screen and (max-width: 1200px) {
    .post-catalog {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 640px) {
    .post-catalog {
        grid-template-columns: 1fr;
    }
}

.post-catalog__item {
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
    transition: box-shadow 0.2s, transform 0.2s;
    border: 1px solid #efeeed;
}

@media screen and (min-width: 1200px) {
    .post-catalog__item {
        &:hover {
            transform: translateY(-2px);
            box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.1);
        }
    }
}

@media screen and (max-width: 1200px) {
    .post-catalog__item {
        display: block;
    }
}

.post-catalog__item-img {
    display: block;
    position: relative;
    padding-bottom: 65%;
    border-radius: 12px;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .post-catalog__item-img {
        margin-bottom: 20px;
    }
}

.post-catalog__item-title {
    display: block;
    margin-bottom: 8px;
    color: $black;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-catalog__item-date {
    display: flex;
    align-items: flex-end;
    gap: 4px;
    margin-bottom: 4px;
    color: $N600;
    line-height: 1;

    svg {
        width: 16px;
        height: 16px;
    }
}

.post-catalog__item-excerpt {
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.related-posts {
    .post-catalog {
        align-items: flex-start;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .post-catalog__item {
        grid-template-columns: 1fr;
        padding: 12px;
    }

    .post-catalog__item-img {
        display: block;
    }

    .post-catalog__item-excerpt {
        -webkit-line-clamp: 3;
    }
}


@media screen and (max-width: 1200px) {
    .related-posts {
        .post-catalog {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 640px) {
    .related-posts {
        .post-catalog {
            grid-template-columns: 1fr;
        }
    }
}


.blog__content-before {
    margin-bottom: 48px;

    > *:not(span, a, b, em, i, strong) {
        margin: 14px 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 500;
    }

    a {
        transition: color 0.3s ease;
        white-space: nowrap;
        color: $B600;
        &:hover {
            color: $B700;
        }
    }

    ul, ol {
        list-style-position: inside;
    }

    ul {
        list-style-type: disc;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    a[href$=".webp"],
    a[href$=".jpeg"],
    a[href$=".jpg"],
    a[href$=".png"] {
        display: inline-block;
    }
}

.blog-pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 48px;
}

.blog-pagination a, .blog-pagination span {
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 400;
    transition: background-color 0.3s, color 0.3s;
}

.blog-pagination a {
    background-color: #efeeed;
    color: #474747;
}

.blog-pagination a:hover {
    background-color: #439a32;
    color: #ffffff;
}

.blog-pagination .current-page {
    background-color: #439a32;
    color: #ffffff;
}
