.blog-post {
    padding-bottom: 64px;
}

.blog-post__title {
    margin-bottom: 16px;
}

.blog-post__date {
    color: $N600;
}

.blog-post__content {
    > *:not(span, a, b, em, i, strong) {
        margin: 14px 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 500;
    }

    a {
        transition: color 0.3s ease;
        white-space: nowrap;
        color: $B600;
        &:hover {
            color: $B700;
        }
    }

    ul, ol {
        list-style-position: inside;
    }

    ul {
        list-style-type: disc;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    a[href$=".webp"],
    a[href$=".jpeg"],
    a[href$=".jpg"],
    a[href$=".png"] {
        display: inline-block;
    }
}

.blog-post__content-img {
    width: 100%;
    border-radius: 12px;
    margin: 24px 0;
}

.related-posts__title {
    margin-bottom: 24px;
}

.blog-post__info {
    margin-bottom: 32px;
}

.blog-post__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 12px;
}
