.catalog {
    &__top {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 24px;
    }

    &__btn-filter {
        display: none;
    }

    &__title {
    }

    &__count {
    }

    &__banner {
    }

    &__pre {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        &-list {
            display: flex;
            &-item {
                margin-right: 12px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &__pre-list {
    }

    &__pre-list-item {
    }

    &__pre-list-item-btn {
    }

    &__pre-link {
    }

    &__body {
        display: flex;
        margin-top: 24px;
    }

    &__filter {
        max-width: 240px;
        width: 100%;
    }

    &__content {
        width: 100%;
        margin-left: 24px;
    }

    &__content-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__sort {
    }

    &__mode {
        display: flex;
        align-items: center;
        &-btn {
            cursor: pointer;
            &:first-child {
                margin-right: 6px;
            }
        }
    }

    &__mode-btn {
    }

    &__mode-input {
        display: none;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;
        margin-top: 12px;
    }

    &__list-item {
    }
}

#content-base:checked ~ .catalog__body .catalog__mode-btn:first-child path,
#content-column:checked ~ .catalog__body .catalog__mode-btn:last-child path {
    fill: $N900;
}
#content-column:checked ~ .catalog__body {
    .catalog__list {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 12px;
        .product {
            max-width: 100%;
            display: flex;
            border: 1px solid $N100;
            &:hover {
                box-shadow: none;
            }
            &__center {
                margin-left: 12px;
                margin-right: auto;
                max-width: 261px;
            }
            &__swiper {
                &-wrap {
                    margin-bottom: 0;
                }
            }
            &__box {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 100%;
                max-width: 261px;
            }
            &__tags {
                position: absolute;
                right: 6px;
                top: 6px;
            }
            &__info {
                margin-bottom: 0;
                &-wrap {
                    position: static;
                    margin-top: 12px;
                    display: block;
                    box-shadow: none;
                    border: none;
                    padding: 0;
                }
            }
        }
    }
}
.layout {
}

.text-5xl {
}
.text-lg {
}
.banner {
}
.banner-xl {
}
.banner-l {
}
.banner-m {
}
.banner-s {
}
.banner-xs {
}
.btn {
}
.btn-secondary {
}
.btn-primary {
}

.btn-icon {
}

.swiper-wrapper {
}
.swiper-slide {
}
.btn-tooltip {
}

@media screen and (max-width: 1200px) {
    .catalog {
        &__btn-filter {
            display: flex;
            padding: 8px 12px;
        }
        &__sort {
            margin-right: auto;
            margin-left: 14px;
        }
        &__filter {
            display: none;
        }
        &__content {
            margin-left: 0;
        }
        &__list {
            &-item {
            }
        }
        .product {
            max-width: 100%;
            &__swiper {
                &-wrap {
                    max-width: 100%;
                    height: 24vw;
                }
                .swiper-pagination {
                    display: block;
                    pointer-events: all;
                }
                .swiper-pagination-bullet {
                    opacity: 1;
                    background-color: $N200;
                }
                .swiper-pagination-bullet-active {
                    background-color: $N400;
                }
            }
        }
    }
    #content-column:checked ~ .catalog__body {
        .product {
            &__swiper {
                &-wrap {
                    height: 215px;
                    max-width: 269px;
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .catalog {
        &__list {
            grid-template-columns: repeat(2, 1fr);
            margin-top: 20px;
        }
        &__pre {
            &-link {
                display: none;
            }
        }
        .product {
            &__swiper {
                &-wrap {
                    height: 34vw;
                }
            }
            &__center {
                display: flex;
                flex-direction: column;
            }
            &__title {
                order: 2;
                margin-top: 8px;
            }
            &__buy {
                max-width: max-content;
            }
            &__status {
                order: 3;
                margin-bottom: 14px;
            }
            &__info {
                display: none;
                &-wrap {
                    display: block;
                    position: static;
                    background: none;
                    border: none;
                    box-shadow: none;
                    padding: 0;
                    order: 1;
                }
            }
            &:hover {
                box-shadow: none;
                border-color: transparent;
            }
        }
    }
    #content-column:checked ~ .catalog__body {
        .catalog__list {
            .product {
                padding-right: 40px;
                &__box {
                    position: absolute;
                    max-width: calc(100% - 12px);
                    flex-direction: row;
                    justify-content: space-between;
                    z-index: 1;
                    left: 6px;
                    bottom: 6px;
                    right: 0;
                    padding-right: 30px;
                }
                &__center {
                    margin-left: auto;
                    max-width: 100%;
                }
                &__info {
                    display: block;
                    &-wrap {
                        order: 3;
                    }
                }
                &__actions {
                    max-width: 269px;
                    width: 100%;
                    margin-right: 40px;
                }
                &__buy {
                    max-width: 451px;
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                }
                &__tags {
                    left: 6px;
                    right: auto;
                    bottom: 68px;
                    top: auto;
                }
                &__buy {
                    margin-top: 0;
                }
                &__swiper {
                    &-wrap {
                        margin-bottom: 100px;
                        margin-right: 40px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .catalog {
        &__list {
            grid-gap: 14px;
        }
        .product {
            &__buy {
                padding: 8px 12px;
                font-size: 14px;
                line-height: 20px;
            }
            &__tags {
                &-label {
                    font-size: 9px;
                    line-height: 16px;
                }
            }
        }
    }
    #content-column:checked ~ .catalog__body {
        .catalog__list {
            .product {
                padding-right: 6px;
                &__swiper {
                    &-wrap {
                        margin-right: 12px;
                    }
                }
            }
        }
    }
}
