.contacts {
    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
        margin-top: 24px;
        &-item {
            &-card {
                &--back {
                    position: relative;
                    &::after {
                        position: absolute;
                        content: "";
                        display: block;
                        background: url("./../images/imgc.png");
                        background-size: 100% 100%;
                        width: 139px;
                        height: 173px;
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }
    &__map {
        &-title {
            margin-bottom: 24px;
        }
    }

    &__card {
        max-height: 190px;
    }
    .card {
        &__title {
            span {
                color: $B600;
                &:hover {
                    color: $B600;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .contacts__list-item-card--back {
        overflow: hidden;
        padding-right: 100px;
        &::after {
            width: 133px;
            height: 120px;
            right: -10px;
        }
        .card-title {
            white-space: nowrap;
        }
    }

    .contacts {
        &__list {
            display: flex;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 24px;
            margin-top: 24px;
        }

        &__card {
            &-socials {
                min-width: 388px;
            }

            &-info {
                min-width: auto;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .contacts {
        &__list {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 16px;
        }
        &__list-item-card--back {
            padding-right: 100px;
        }
    }
}

@media screen and (max-width: 680px) {
    .contacts {
        &__map {
        }
    }
}
