.dogovor {
    margin-bottom: 22px;

    &__title {
        margin-bottom: 24px;
    }

    &__list {
       margin-top: 24px;
       
        &--column {
            flex-direction: column;
        
        }
        
        &-title {
            margin-bottom: 14px;
            margin-top: 24px;
        }

        &-item {
            margin-bottom: 24px;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.policy{
	margin-bottom: 22px;
	
	&__title {
		margin-top: 24px;

		&-sm {
			margin-top: 10px;
		}
	}
}