.dop {
    margin-bottom: 22px;
    &__title {
    }

    &__banner {
        margin-top: 24px;
        margin-bottom: 80px;
    }

    &__subtitle {
        margin-top: 80px;

        &-conditions {
            margin-bottom: 24px;
        }
    }

    &__text {
        margin-bottom: 36px;

        &-font {
            font-weight: 600;
        }

        &-color {
            color: #50b83c;
        }
    }

    &__title-sm {
        margin-bottom: 80px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1.4fr 2fr;
        grid-gap: 24px;
        margin-bottom: 14px;

        &-text,
        .card__list--column .card__list-item {
            margin-top: 12px;
            margin-bottom: 0 !important;
        }

        &-item {
            &--first {
                position: relative;
                overflow: hidden;
                padding-right: 130px;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    right: 0;
                    background: url("./../images/d1.png");
                    background-size: 100% 100%;
                    width: 130px;
                    height: 105px;
                    bottom: calc(50% - 52.5px);
                }
            }

            &--last {
                position: relative;
                overflow: hidden;
                padding-right: 140px;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    right: 10px;
                    background: url("./../images/d2.png");
                    background-size: 100% 100%;
                    width: 130px;
                    height: 105px;
                    bottom: calc(50% - 52.5px);
                }
            }
        }
    }

    &__banner {
        margin-top: 24px;
        margin-bottom: 80px;
    }

    &__subtitle {
        margin-top: 80px;

        &-conditions {
            margin-bottom: 24px;
        }
    }

    &__text {
        margin-bottom: 36px;

        &-font {
            font-weight: 600;
        }

        &-color {
            color: #50b83c;
        }
    }

    &__title-sm {
        margin-bottom: 80px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1.4fr 2fr;
        grid-gap: 24px;
        margin-bottom: 14px;

        &-text {
            &-lg {
                margin-bottom: 4px;

                &-conditions {
                    margin-bottom: 24px;
                }
            }
        }

        &-item {
            &--first {
                position: relative;
                overflow: hidden;
                padding-right: 130px;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    right: 0;
                    background: url("./../images/d1.png");
                    background-size: 100% 100%;
                    width: 130px;
                    height: 105px;
                    bottom: calc(50% - 52.5px);
                }
            }
            &--last {
                position: relative;
                overflow: hidden;
                padding-right: 140px;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    right: 10px;
                    background: url("./../images/d2.png");
                    background-size: 100% 100%;
                    width: 130px;
                    height: 105px;
                    bottom: calc(50% - 52.5px);
                }
            }
        }

        &__banner {
            margin-top: 24px;
            margin-bottom: 80px;
        }

        &__subtitle {
        }

        &__text {
            margin-bottom: 36px;
        }

        &__title-sm {
            margin-bottom: 80px;
        }

        &__list {
            display: grid;
            grid-template-columns: 1.4fr 2fr;
            grid-gap: 30px;
            margin-bottom: 14px;
            &-item {
                &--first {
                    position: relative;
                    overflow: hidden;
                    padding-right: 130px;
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        right: 0;
                        background: url("./../images/d1.png");
                        background-size: 100% 100%;
                        width: 130px;
                        height: 105px;
                        bottom: calc(50% - 52.5px);
                    }
                }
                &--last {
                    position: relative;
                    overflow: hidden;
                    padding-right: 140px;
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        right: 10px;
                        background: url("./../images/d2.png");
                        background-size: 100% 100%;
                        width: 130px;
                        height: 105px;
                        bottom: calc(50% - 52.5px);
                    }
                }
            }
        }
    }
    &__link {
        margin-bottom: 36px;
        margin-top: 14px;
    }
}

@media screen and (max-width: 1000px) {
    .dop {
        &__list {
            grid-template-columns: 1fr;
            grid-gap: 14px;

            &-column {
                margin-bottom: 14px;
            }
        }

        &__text {
            margin-bottom: 24px;
        }

        &__subtitle {
            margin-top: 60px;

            &-conditions {
                margin-bottom: 24px;
            }
        }

        &__title-sm {
            margin-bottom: 60px;
        }

        &__banner {
            margin-top: 24px;
            margin-bottom: 60px;
        }

        &__link {
            margin-bottom: 24px;
        }
    }
}

@media screen and (max-width: 680px) {
	.dop { 
		&__title {
			font-size: 34px;
			line-height: 38px;
		}
	}
}

@media screen and (max-width: 520px) {
    .dop {
        &__list {
            &-item {
                &--first,
                &--last {
                    padding-right: 80px;
                    &::after {
                        right: -50px;
                    }
                }
            }
        }

        &__subtitle {
            margin-bottom: 14px;
        }

        &__text {
            margin-bottom: 14px;

            &-lg {
                margin-bottom: 24px;
            }
        }

        &__title-sm {
            margin-bottom: 60px;
        }

        &__link {
            margin-bottom: 24px;
        }
    }
}




