.intro {
    background-color: transparent;
}

.intro-slider {
    border-radius: 15px;
    max-width: 1160px;
    margin: auto;
    position: relative;
}

.intro-slider .swiper-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.intro-slider .swiper-container {
    max-width: 1163px;
    margin: auto;
    overflow: hidden;
}

.intro-slider .swiper-button-prev,
.intro-slider .swiper-button-next {
    width: 87px;
    height: 87px;
}

.intro-slider .swiper-button-prev::after,
.intro-slider .swiper-button-next::after {
    display: none;
}

.intro-slider .swiper-button-prev rect,
.intro-slider .swiper-button-prev path,
.intro-slider .swiper-button-next rect,
.intro-slider .swiper-button-next path {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.intro-slider .swiper-button-prev:hover rect,
.intro-slider .swiper-button-next:hover rect {
    fill: #dfe3e8;
}

.intro-slider .swiper-button-prev:active rect,
.intro-slider .swiper-button-next:active rect {
    fill: #454f5b;
}

.intro-slider .swiper-button-prev:active path,
.intro-slider .swiper-button-next:active path {
    fill: #ffffff;
}
.intro-slider .swiper-button-prev {
    left: -40px;
}
.intro-slider .swiper-button-next {
    right: -40px;
}

.intro-slider .swiper-pagination-bullet {
    background-color: #c7cdd5;
    opacity: 1;
}

.intro-slider .swiper-pagination-bullet-active {
    background-color: #50b83c;
}

.intro__title {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 100%;
    color: #ffffff;
}

.intro__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #161d25;
}

.intro__text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 15px;
}

.intro__link {
    margin-top: 35px;
    max-width: 160px;
    display: block;
    padding: 15px 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    background-color: #50b83c;
    border-radius: 4px;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.intro__link:hover {
    background-color: #50b83c;
}

.intro__pic {
    width: 100%;
    height: 100%;
}

.intro__pic-img {
    width: 100%;
    height: 100%;
    display: none;
}

.intro__pic-img-xl {
    display: block;
}

@media screen and (max-width: 1200px) {
    .intro__pic-img-xl {
        display: none;
    }
    .intro__pic-img-l {
        display: block;
    }
}

@media screen and (max-width: 960px) {
    .intro__pic-img-l {
        display: none;
    }
    .intro__pic-img-m {
        display: block;
    }
}

@media screen and (max-width: 640px) {
    .intro__pic-img-m {
        display: none;
    }
    .intro__pic-img-s {
        display: block;
    }
    .intro-slider .swiper-container {
        padding-bottom: 45px;
    }
}

@media screen and (max-width: 480px) {
    .intro__pic-img-s {
        display: none;
    }
    .intro__pic-img-xs {
        display: block;
    }
}

@media screen and (max-width: 1340px) {
    .third .intro__title {
        width: unset;
    }
    .intro-slider {
        max-width: 1160px;
    }
    .intro__title {
        font-size: 45px;
        line-height: 50px;
    }
    .intro__subtitle {
        font-size: 20px;
        line-height: 25px;
    }
    .intro__text {
        font-size: 15px;
        line-height: 20px;
        margin-top: 10px;
    }
    .intro__link {
        margin-top: 30px;
    }
}

.intro__list {
    max-width: 1160px;
    margin: auto;
    margin-top: 10px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.intro__list-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #f7f7f6;
    border-radius: 12px;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #21201f;
    padding: 5px 0;
    height: 100%;
}
.intro__list-item a img {
    max-height: 75px;
}

.intro__list-item a span {
    margin-left: 5px;
}

@media screen and (max-width: 770px) {
    .intro__list-item a {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

@media screen and (max-width: 620px) {
    .intro__list {
        overflow-x: scroll;
        overflow-y: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-overflow-style: none;
        /* IE и Edge */
        scrollbar-width: none;
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .intro__list::-webkit-scrollbar {
        display: none;
    }
    .intro__list-item a {
        width: 200px;
    }

    .intro__list-item a img {
        max-height: 55px;
    }
}

@media screen and (max-width: 1085px) {
    .intro-slider .swiper-button-next,
    .intro-slider .swiper-button-prev {
        display: none;
    }
    .intro__text {
        margin-top: 30px;
        font-size: 18px;
        line-height: 150%;
    }
    .intro__title {
        font-size: 32px;
        line-height: 125%;
        margin-bottom: 0px;
    }
}

.categories {
    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
        margin-top: 36px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: #f7f7f6;
        border-radius: 12px;
        position: relative;

        &-pic {
            width: 100%;
            height: 100%;
            position: absolute;

            &-img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    &__content {
        width: 224px;
        height: 140px;

        &-text {
            margin-top: 102px;
            display: block;
            color: $black;
        }
    }
    &__card:hover &__content-text {
        color: $B600;
    }
}

@media screen and (max-width: 1200px) {
    .categories {
        &__list {
            grid-gap: 16px;
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@media screen and (max-width: 1000px) {
    .categories {
        &__list {
            padding: 0;
            flex-wrap: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
            scrollbar-width: none;
            display: flex;
            padding-left: 20px;
            padding-right: 20px;
            margin-left: -20px;
            margin-right: -20px;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &__card {
            max-width: 224px;
            height: 140px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            background: #f7f7f6;
            border-radius: 12px;

            &-pic {
                width: 100%;
                height: 140px;
            }
        }
    }
}

.advantage {
    &__title {
        margin-top: 80px;
        margin-bottom: 24px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;

        &-card {
            width: 380px;
            height: 300px;
            text-align: center;
            position: relative;
            overflow: hidden;

            &-guarantee {
                padding-top: 24px;
                padding-left: 25px;
                padding-right: 25px;

                &-pic {
                    position: absolute;
                    bottom: 0;
                    width: 277px;
                    height: 157px;
                    margin-left: 30px;

                    &-img {
                        width: 100%;
                    }
                }

                &-gradient {
                    background: linear-gradient(180deg, #f9f047 0%, #0fd850 100%);
                    bottom: 0;
                    filter: blur(66.5px);
                    position: absolute;
                    width: 250px;
                    height: 250px;
                    left: -89px;
                    top: 204px;
                }

                &-subtitle {
                    margin-bottom: 14px;
                }

                &-text {
                    margin-bottom: 26px;
                }
            }

            &-upgrade {
                padding-top: 0px;
                padding-left: 25px;
                padding-right: 0;

                &-subtitle {
                    padding-top: 182px;
                    margin-bottom: 14px;
                }

                &-text {
                    width: 330px;
                }

                &-pic {
                    margin-left: 28px;
                    width: 327px;
                    height: 173px;
                    position: absolute;

                    &-img {
                        width: 100%;
                    }
                }

                &-gradient {
                    position: absolute;
                    width: 255px;
                    height: 255px;
                    background: linear-gradient(180deg, #256eb0 0%, #eca5b3 100%);
                    filter: blur(65px);
                    left: 132px;
                    top: -135px;
                }
            }

            &-photos {
                padding-top: 24px;
                padding-left: 25px;
                padding-right: 25px;

                &-subtitle {
                    margin-bottom: 14px;
                }

                &-text {
                    width: 330px;
                }

                &-pic {
                    width: 380px;
                    height: 230px;
                    position: absolute;
                    left: 0px;
                    top: 131.25px;

                    &-img {
                        width: 100%;
                    }
                }

                &-gradient {
                    position: absolute;
                    width: 264.04px;
                    height: 264.04px;
                    left: 290px;
                    top: 180px;
                    background: linear-gradient(180deg, #00c9ff 0%, #92fe9d 100%);
                    filter: blur(65px);
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .advantage {
        &__list {
            &-item {
                width: 100%;
            }

            &-card {
                width: auto;

                &-guarantee {
                    &-pic {
                        margin-left: -10px;
                    }

                    &-gradient {
                        left: -120px;
                        top: 204px;
                    }

                    &-subtitle {
                        width: 100%;
                    }

                    &-text {
                        width: 100%;
                    }
                }

                &-upgrade {
                    padding: 0;

                    &-subtitle {
                        width: 100%;
                    }

                    &-text {
                        width: 100%;
                    }

                    &-pic {
                        left: 53px;
                        top: 0px;

                        &-img {
                        }
                    }

                    &-gradient {
                    }
                }

                &-photos {
                    padding-left: 10.5px;
                    padding-right: 10.5px;

                    &-subtitle {
                        width: 100%;
                    }

                    &-text {
                        width: auto;
                        margin-left: 30px;
                        margin-right: 30px;
                    }

                    &-pic {
                        left: 42px;
                        top: 140px;
                    }

                    &-gradient {
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .advantage {
        &__list {
            max-width: 100%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 14px;

            &-item {
                height: 139px;
            }

            &-card {
                height: 140px;
                text-align: left;
                padding: 24px;

                &-guarantee {
                    &-pic {
                        width: 234px;
                        height: 165.34px;
                        right: 5px;
                        bottom: -33px;

                        &-img {
                        }
                    }

                    &-gradient {
                        width: 320px;
                        height: 320px;
                        left: auto;
                        right: -40px;
                        top: 78px;
                        background: linear-gradient(180deg, #f9f047 0%, #0fd850 100%);
                        filter: blur(180px);
                    }

                    &-subtitle {
                        max-width: 330px;
                        height: 28px;
                    }

                    &-text {
                        max-width: 330px;
                        height: 48px;
                    }
                }

                &-upgrade {
                    &-subtitle {
                        max-width: 330px;
                        padding: 0;
                        margin: 0;
                        margin-bottom: 14px;
                    }

                    &-text {
                        height: 48px;
                        max-width: 330px;
                        padding: 0;
                        margin: 0;
                    }

                    &-pic {
                        transform: rotate(40deg);
                        width: 206.26px;
                        height: 133.81px;
                        left: auto;
                        right: 0;
                        top: 33px;

                        &-img {
                        }
                    }

                    &-gradient {
                        width: 194px;
                        height: 194px;
                        left: auto;
                        right: -30px;
                        top: 70px;
                        background: linear-gradient(180deg, #256eb0 0%, #eca5b3 100%);
                        filter: blur(65px);
                    }
                }

                &-photos {
                    &-subtitle {
                        max-width: 330px;
                        margin-bottom: 14px;
                    }

                    &-text {
                        max-width: 330px;
                        max-height: 72px;
                        margin: 0;
                    }

                    &-pic {
                        width: 236.98px;
                        height: 226.85px;
                        left: auto;
                        right: -25px;
                        top: 34px;
                    }

                    &-gradient {
                        width: 155.39px;
                        height: 155.39px;
                        left: auto;
                        right: -50px;
                        top: 46.49px;
                        background: linear-gradient(180deg, #00c9ff 0%, #92fe9d 100%);
                        filter: blur(65px);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 680px) {
    .advantage {
        &__list {
            &-card {
                &-guarantee {
                    &-pic {
                        width: 178px;
                        height: 125px;

                        &-img {
                        }
                    }

                    &-gradient {
                        width: 130px;
                        height: 130px;
                        background: linear-gradient(180deg, #f9f047 0%, #0fd850 100%);
                        filter: blur(55.0637px);
                    }

                    &-subtitle {
                    }

                    &-text {
                    }
                }

                &-upgrade {
                    &-subtitle {
                    }

                    &-text {
                    }

                    &-pic {
                        width: 154px;
                        height: 100px;
                        right: 0;
                        top: 60px;

                        &-img {
                        }
                    }

                    &-gradient {
                        width: 129px;
                        height: 129px;
                        background: linear-gradient(180deg, #256eb0 0%, #eca5b3 100%);
                        filter: blur(60.7609px);
                    }
                }

                &-photos {
                    &-subtitle {
                    }

                    &-text {
                    }

                    &-pic {
                        width: 175px;
                        height: 160px;
                        top: 65px;
                    }

                    &-gradient {
                        width: 156px;
                        height: 156px;
                        background: linear-gradient(180deg, #00c9ff 0%, #92fe9d 100%);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .advantage {
        &__list {
            width: 100%;

            &-item {
                height: 205px;
            }

            &-card {
                height: 205px;

                &-guarantee {
                    &-pic {
                        width: 150px;
                        left: auto;
                        top: 120px;
                    }

                    &-gradient {
                        width: 130px;
                        height: 130px;
                        left: auto;
                        top: 135px;
                        background: linear-gradient(180deg, #f9f047 0%, #0fd850 100%);
                        filter: blur(55.0637px);
                    }

                    &-subtitle {
                    }

                    &-text {
                        width: 100%;
                    }
                }

                &-upgrade {
                    &-subtitle {
                    }

                    &-text {
                        width: 228px;
                    }

                    &-pic {
                        width: 151px;
                        height: 125px;
                        left: auto;
                        top: 135px;
                        transform: rotate(25deg);
                    }

                    &-gradient {
                        width: 165px;
                        height: 165px;
                        left: auto;
                        top: 116px;
                        background: linear-gradient(180deg, #256eb0 0%, #eca5b3 100%);
                        filter: blur(60.7609px);
                    }
                }

                &-photos {
                    &-subtitle {
                    }

                    &-text {
                        width: 224px;
                    }

                    &-pic {
                        width: 175px;
                        height: 160px;
                        left: auto;
                        top: 130px;
                    }

                    &-gradient {
                        width: 156px;
                        height: 156x;
                        left: auto;
                        top: 115px;
                        background: linear-gradient(180deg, #00c9ff 0%, #92fe9d 100%);
                        filter: blur(65px);
                    }
                }
            }
        }
    }
}
