.obmen {
    &__title {
        margin-bottom: 24px;
    }
    .card {
        margin-bottom: 24px;
        &:last-child {
            margin-bottom: 0;
        }
        &__list {
            margin: 0;
        }
    }
    &__text {
        margin-top: 24px;
    }
    &__btn {
        margin-top: 14px;
    }
}

@media screen and (max-width: 1000px) {
	.obmen {
			
	}
}




