.prp {
    &__title {
    }

    &__subtitle {
        margin-top: 4px;
        &-status {
            color: $B600;
        }
        &-code {
            &-name {
                margin-left: 16px;
                color: $N800;
            }
        }
    }

    &__subtitle-status {
    }

    &__subtitle-code-name {
    }

    &__subtitle-code-val {
    }

    &__intro {
        display: flex;
        margin-top: 24px;
    }

    &__slider-wrap {
        display: flex;
    }

    &__thumbs {
        max-height: 420px;
        max-width: 73px;
        overflow: hidden;
        .swiper-slide {
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__slider {
        width: 100%;
        max-width: 514px;
        max-height: 420px;
        overflow: hidden;
        margin-left: 14px;
        &-wrap {
            width: 100%;
            max-width: 601px;
        }
        .swiper-slide {
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
