.trade-in {
    &__banner {
        margin-top: 24px;
        margin-bottom: 80px;
    }

    &__subtitle {
        margin-top: 80px;
        .link {
            &:hover {
                color: $B600;
            }
        }
        span {
            white-space: nowrap;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 2fr 1.3fr;
        grid-gap: 24px;
        margin-bottom: 36px;
        &-item {
            &:first-child {
                .card {
                    position: relative;
                    overflow: hidden;
                    padding-right: 160px;
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        background: url("./../images/t1.png");
                        background-size: 100% 100%;
                        width: 144px;
                        height: 114px;
                        z-index: 0;
                    }
                }
            }
            &:last-child {
                .card {
                    position: relative;
                    overflow: hidden;
                    padding-right: 120px;
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        background: url("./../images/t2.png");
                        background-size: 100% 100%;
                        width: 123px;
                        height: 103px;
                        z-index: 0;
                    }
                }
            }
        }
    }

    &__text {
        &-font {
            font-weight: 600;
        }

        &-sm {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .map {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1000px) {
    .trade-in {
        &__banner {
            margin-bottom: 60px;
        }

        &__list {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 14px;
            margin-bottom: 24px;
        }

        &__subtitle {
            margin-top: 60px;
        }

        &__map {
            margin-top: 60px;
        }
    }
}

@media screen and (max-width: 680px) {
    .trade-in {
        &__list {
            &-item {
                &:first-child {
                    .card {
                        &::after {
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .trade-in {
        &__list {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 14px;
            margin-bottom: 24px;

            &-item {
                &:first-child {
                    .card {
                        padding-right: 70px;
                        &::after {
                            right: -35px;
                            bottom: -10px;
                            width: 121px;
                            height: 97px;
                        }
                    }
                }

                &:last-child {
                    .card {
                        padding-right: 70px;
                        &::after {
                            right: -20px;
                            bottom: 0;
                            width: 114px;
                            height: 97px;
                        }
                    }
                }
            }
        }

        &__subtitle {
            margin-top: 60px;
        }

        &__map {
            margin-top: 60px;
        }

        &__text {
            &-sm {
                font-size: 14px;
                line-height: 20px;
            }
        }

        &__card {
            &-text {
                max-width: 300px;
            }
        }

        .card {
            &__text,
            &__title {
                position: relative;
                z-index: 1;
            }
        }
    }
    .trade-in__list-item:first-child .card {
        padding-right: 60px;
    }
}

@media screen and (max-width: 370px) {
    .trade-in {
        &__card {
            &-text {
                padding-right: 25px;
            }
        }
    }
}
