.ur {
    &__title {
    }

    &__banner {
        margin-top: 24px;
        margin-bottom: 80px;
    }

    &__subtitle {
        max-width: 800px;

        &-text {
            margin-bottom: 14px;
        }
    }

    &__text {
        max-width: 930px;

        &--short {
            max-width: 700px;
            line-height: 2;
        }

        &-color {
            color: #50b83c;
        }

        &-lg {
            margin-top: 10px;
            margin-bottom: 80px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 422px auto;
        grid-gap: 30px;
        margin: 24px 0;
    }

    &__title-sm {
        margin-bottom: 80px;
    }

    &__card {
        &-text {
        }

        &-short {
            padding: 38px 36px 38px 24px;
        }

        &-long {
            padding: 24px 36px 24px 24px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .ur {
        &__list {
            grid-gap: 24px;
        }

        &__card {
            &-short {
                padding: 38px 36px 38px 24px;
            }

            &-long {
                padding: 24px 24px 24px 24px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .ur {
        &__list {
            grid-template-columns: 1fr;
            grid-gap: 16px;
        }

        &__banner {
            margin-bottom: 64px;
        }

        &__card {
            &-short {
                padding: 24px;
            }

            &-long {
                padding: 24px;
            }
        }

        &__title-sm {
            margin-bottom: 60px;
        }

        &__text {
            &-lg {
                margin-top: 10px;
                margin-bottom: 60px;
            }
        }
    }
}

@media screen and (max-width: 680px) {
    .ur {
        &__list {
            grid-gap: 14px;
        }
    }
}

@media screen and (max-width: 520px) {
    .ur {
        &__text {
            &-2xl {
                font-size: 20px;
                line-height: 28px;
            }

            &__list {
                grid-gap: 14px;
            }
        }
    }
}
