.btn {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 16px;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    white-space: nowrap;
    max-width: min-content;
    cursor: pointer;
    &-primary {
        background-color: #50b83c;
        color: #ffffff;
        &:hover {
            background-color: #439a32;
        }
    }
    &-secondary {
        background-color: #efeeed;
        color: #474747;
        &:hover {
            background-color: #dedede;
        }
    }
    &_icon {
        &-left {
            svg {
                margin-right: 9px;
            }
        }
        &-right {
            svg {
                margin-left: 9px;
            }
        }
    }
    &-preloader {
        svg {
            display: none;
        }
        &.active {
            opacity: 0.8;
            svg {
                display: block;
                animation: rotate-90-cw 0.4s linear infinite both;
            }
        }
    }
    &-icon {
        padding: 10px;
        svg {
            pointer-events: none;
        }
    }

    &_big {
        padding: 16px;
    }

    &_small {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        padding: 8px 12px;

        & .btn-icon {
            padding: 6px;
        }
    }
    &-tooltip {
        position: relative;
        &::before {
            content: attr(name);
            display: block;
            position: absolute;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $white;
            opacity: 0;
            pointer-events: none;
            background: $N700;
            box-shadow: 0px 3px 8px rgba(45, 77, 108, 0.15);
            border-radius: 4px;
            z-index: 3;
            padding: 5px 10px;
            left: 90%;
            top: 90%;
            @media screen and (max-width: 1500px) {
                left: auto;
                right: 0;
                top: 100%;
            }
        }
        &:hover::before {
            transition: opacity 0.2s ease;
            transition-delay: 0.5s;
            opacity: 1;
        }
        &-white {
            position: relative;
            &::before {
                content: "";
                width: 130%;
                height: 130%;
                left: -15%;
                top: -15%;
                display: block;
                position: absolute;
            }
            &-body {
                background: #ffffff;
                border-radius: 8px;
                padding: 12px 16px;
                position: absolute;
                right: 0;
                top: 110%;
                z-index: 3;
                box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.15), 0px 0px 1px -1px rgba(0, 0, 0, 0.4);
                width: 217px;
                opacity: 0;
                pointer-events: none;
                p {
                    white-space: pre-wrap;
                }
            }
            &:hover &-body {
                transition: opacity 0.2s ease;
                transition-delay: 0.5s;
                opacity: 1;
                pointer-events: all;
            }
        }
    }
}

// CF7
form.submitting .btn-preloader {
    opacity: 0.8;
    pointer-events: none;
    svg {
        display: block;
        animation: rotate-360-cw 0.4s linear infinite both;
    }
}
