.woocommerce-billing-fields__field-wrapper label {
    display: none;
}

.woocommerce-billing-fields__field-wrapper label {
    display: none;
}
.footer__sales-pic {
    width: 50%;
}
div#zzxcz_field,
div#billing_s_field {
    color: #fff;
}
span.woocommerce-input-wrapper span {
    display: none;
}
