// Neutral
$N900: #474747;
$N800: #5c5c5c;
$N700: #707070;
$N600: #8f8f8f;
$N500: #a3a3a3;
$N400: #b8b8b8;
$N300: #cccccc;
$N200: #dedede;
$N100: #efeeed;
$N50: #f7f7f6;

// Basic
$black: #21201f;
$white: #ffffff;

// Brand color
$B900: #285c1e;
$B800: #367b28;
$B700: #439a32;
$B600: #50b83c;
$B500: #69c856;
$B400: #84d274;
$B300: #9fdc93;
$B200: #bbe6b2;
$B100: #d6f0d1;
$B50: #f1faf0;

// Status colors
$r600: #d72f09;
$r400: #f6522e;
$r50: #feefec;

$a600: #f38816;
$a400: #f6a651;
$a50: #fdebd8;

$t600: #0d945e;
$t400: #3db887;
$t50: #ecfdf7;

// Tag colors
$NEW: $t600;
$InStock: #1485f5;
$Credit: #f7b23b;
$Used: #eed705;
$Order: #977dde;
